In [2]:
import pandas as pd
from os import walk

In [6]:
data_dir = '../data/QuestionResponseTimes/'
for (dirpath, dirnames, filenames) in walk(data_dir):
    df = pd.concat([pd.read_csv(data_dir + file) for file in filenames], ignore_index=True)
df

['05-15-05-28.csv', '05-01-05-15.csv', '06-25-07-10.csv', '06-10-06-25.csv', '05-28-06-10.csv', '07-23-08-01.csv', '07-10-07-23.csv']

              Id                 Tagname  diff
0       43970030                    java     4
1       43970030                   graph     4
2       43970030                graphing     4
3       43970036              html-table     6
4       43970036                     php     6
5       43970036                    html     6
6       43970055                   swift    21
7       43970055          floating-point    21
8       43970055       floating-accuracy    21
9       43970087                  jquery    16
10      43970087                     api    16
11      43970087              javascript    16
12      43970168                   regex    73
13      43970168             regex-group    73
14      43970168                     php    73
15      43970187      undefined-behavior    49
16      43970187                       c    49
17      43970187                  strtok    49
18      43970188                 android    14
19      43970188       firebase-database    14
20      43970188                firebase    14
21      43970197                       c    26
22      43970205                  jquery     4
23      43970217                  arrays    11
24      43970217                callback    11
25      43970217              javascript    11
26      43970217  higher-order-functions    11
27      43970226                 webpack    31
28      43970226                 reactjs    31
29      43970228                     sas    58
...          ...                     ...   ...
312664  45260292                firebase    13
312665  45260299                 reactjs    31
312666  45260299              javascript    31
312667  45260300               algorithm    19
312668  45260300                     c++    19
312669  45260300                   deque    19
312670  45260300                     stl    19
312671  45260304             constructor     8
312672  45260304             empty-class     8
312673  45260304                    java     8
312674  45260308              javascript    20
312675  45260308                closures    20
312676  45260308                 node.js    20
312677  45260308        lexical-closures    20
312678  45260326                    css3     4
312679  45260326              validation     4
312680  45260326                     css     4
312681  45260327             objective-c    55
312682  45260327                     ios    55
312683  45260327             nspredicate    55
312684  45260329              python-3.x     4
312685  45260329                    list     4
312686  45260329                  python     4
312687  45260329            combinations     4
312688  45260365         ones-complement    14
312689  45260365                       c    14
312690  45260394                 angular    77
312691  45260394              observable    77
312692  45260394                    rxjs    77
312693  45260394                 flatmap    77

[312694 rows x 3 columns]

In [11]:
new_df = []
for post_id, post_df in df.groupby('Id'):
    k = [post_id, post_df['Tagname'].tolist(), post_df['diff'].iloc[0]]
    new_df.append(k)
posts = pd.DataFrame(new_df, columns=['post_id', 'tags', 'response_time'])

In [13]:
posts.to_csv('../data/cache/posts.csv', index=False)